/* @import "~bootstrap/dist/css/bootstrap.css" */
@import "primeicons/primeicons.css";
/* body {
  background-color: black;
  }
  .custom-button {
    background-color: rgb(255, 0, 128);
    border-color: black;
    color: white;
  } */



